@{
  Layout = "_Layout";
}

@model PierresTreat.Models.Flavor

<h2>Edit</h2>

<h4>Edit this Flavor: @Html.DisplayFor(model => model.Word)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Word)
    @Html.EditorFor(model => model.Word)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Flavors", "Index")</p>